#selectedFilters {
  display: none;
}

#selectedFilters {
  display: flex;
  background: $table-header-background-color;
  border: none;
  height: 26px;

  .selected-filter {
    display: inline-block;
    margin: 5px 1px 5px 2px;
    border-radius: 4px;
    font-size: 11px;
    text-align: center;
    padding: 0px 5px 0px 5px;
    background: $row-alt-background-color;
  }
}
