#selectedFilters.records-selected-filters {
  display: none;
}

#selectedFilters.records-selected-filters {
  display: flex;
  border: none;
  height: auto;
  background: transparent;
  justify-content: center;

  .selected-filter {
    display: inline-block;
    margin: 5px 1px 5px 2px;
    border-radius: 4px;
    font-size: 11px;
    text-align: center;
    padding: 2px 5px 4px 5px;
    background: $table-header-background-color;
  }
}
.records-col {
  h2 {
    margin-top: 0px;
  }
  table {
    display: block;
    overflow-x: scroll;
    padding: 0;
    table-layout: fixed;

    .weight-class-header,
    .weight-class-place {
      max-width: 30px;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    .lifter-name-link {
      display: inline-block;
      min-width: 200px;
      height: auto;
      line-height: 21px;
    }

    .lifter-date-link {
      display: inline-block;
      min-width: 100px;
    }
  }
}
